openapi: 3.0.3
info:
  title: Warner Music Group Licensing Artists Tracks API
  description: The Warner Music Group Licensing API enables content creators and developers to search the WMG catalog, request synchronization licenses, mechanical licenses, and digital licenses for music recordings and compositions from Warner Records, Atlantic Records, Elektra Records, and Warner Chappell Music. The API covers all major use cases including film/TV sync, advertising, digital services, and live performance.
  version: 1.0.0
  contact:
    name: WMG Licensing Support
    url: https://www.wmgmusiclicensing.com/
    email: onlinelicensing@wmg.com
  termsOfService: https://www.wmg.com/terms
servers:
- url: https://api.wmg.com
  description: WMG API Production
security:
- OAuth2:
  - catalog:read
tags:
- name: Tracks
  description: Track and recording details
paths:
  /v1/tracks/{isrc}:
    get:
      operationId: getTrack
      summary: Get Track by ISRC
      description: Retrieve full details of a recording by its International Standard Recording Code (ISRC).
      tags:
      - Tracks
      parameters:
      - name: isrc
        in: path
        required: true
        schema:
          type: string
        description: International Standard Recording Code (ISRC)
      responses:
        '200':
          description: Track details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackResponse'
        '401':
          description: Unauthorized
        '404':
          description: Track not found
components:
  schemas:
    Track:
      type: object
      properties:
        isrc:
          type: string
          description: International Standard Recording Code
        title:
          type: string
          description: Track title
        artistName:
          type: string
          description: Primary artist name
        artistId:
          type: string
          description: WMG artist identifier
        albumTitle:
          type: string
          description: Album or release title
        releaseDate:
          type: string
          format: date
          description: Original release date
        duration:
          type: integer
          description: Track duration in seconds
        label:
          type: string
          description: Record label name
        genre:
          type: string
          description: Music genre
        explicit:
          type: boolean
          description: Whether the track contains explicit content
        licenseAvailable:
          type: boolean
          description: Whether this track is available for licensing
    TrackResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Track'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for WMG partner authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wmg.com/oauth/authorize
          tokenUrl: https://auth.wmg.com/oauth/token
          scopes:
            catalog:read: Read catalog information
            licenses:read: Read license requests
            licenses:write: Submit license requests
