openapi: 3.0.3
info:
  title: Warner Music Group Licensing Artists API
  description: The Warner Music Group Licensing API enables content creators and developers to search the WMG catalog, request synchronization licenses, mechanical licenses, and digital licenses for music recordings and compositions from Warner Records, Atlantic Records, Elektra Records, and Warner Chappell Music. The API covers all major use cases including film/TV sync, advertising, digital services, and live performance.
  version: 1.0.0
  contact:
    name: WMG Licensing Support
    url: https://www.wmgmusiclicensing.com/
    email: onlinelicensing@wmg.com
  termsOfService: https://www.wmg.com/terms
servers:
- url: https://api.wmg.com
  description: WMG API Production
security:
- OAuth2:
  - catalog:read
tags:
- name: Artists
  description: Artist information
paths:
  /v1/artists/{artistId}:
    get:
      operationId: getArtist
      summary: Get Artist
      description: Retrieve artist profile and catalog information.
      tags:
      - Artists
      parameters:
      - name: artistId
        in: path
        required: true
        schema:
          type: string
        description: WMG artist identifier
      responses:
        '200':
          description: Artist information returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistResponse'
        '401':
          description: Unauthorized
        '404':
          description: Artist not found
components:
  schemas:
    ArtistResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Artist'
    Artist:
      type: object
      properties:
        id:
          type: string
          description: WMG artist identifier
        name:
          type: string
          description: Artist name
        label:
          type: string
          description: Signed record label
        genres:
          type: array
          items:
            type: string
          description: Music genres associated with the artist
        trackCount:
          type: integer
          description: Number of tracks in the WMG catalog
        website:
          type: string
          format: uri
          description: Official artist website
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for WMG partner authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wmg.com/oauth/authorize
          tokenUrl: https://auth.wmg.com/oauth/token
          scopes:
            catalog:read: Read catalog information
            licenses:read: Read license requests
            licenses:write: Submit license requests
